<form action="/student/update" method="post">
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name" value="{{student.name}}"><br>
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value="{{student.email}}"><br>
  <!-- Add any additional fields you need here -->
  <input type="submit" value="Submit">
</form>
